.MMM-Howest-Resto{
    max-width: 500px;
}

.MMM-Howest-Resto .menu-day-container {
    line-height: 1.50;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #222;
    position: relative;
    text-align: left;
    overflow: hidden;
    display: flex;
    justify-content: start;
}

.MMM-Howest-Resto .menu-day-container span {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    animation: marquee 15s linear infinite;
    padding-right: 20px;
}

.MMM-Howest-Resto .menu-day-container .menu-day-details {
    color: #fff;
}

.MMM-Howest-Resto header {
    justify-content: start;
    align-items: center;
}

.MMM-Howest-Resto svg {
    width: 100px;
    height: 50px;
    margin-bottom: -21px;
    margin-left: -11px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}